:root{
  --color-uno : #FA9884;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-size: 16px;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  background-color: var(--color-uno);
  background: url("love_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-div{
  background-color: grey;

  margin: 1vh;
  padding: 4vh;
  border-radius: 5px;

  height: 60vh;
  width: clamp(40vh, 50vh, 80%);
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.input-div{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  justify-content: space-around;
}

.name-input{
  margin: 1vh;
  padding: 1vh;

  width: 80%;
}

.btn-reset-name{
  margin: 1vh;
  padding: 1vh;
}

.input-div hr {
  margin: 1%;

  flex: 1;
  border: none;
  height: 2px;
  background: black;
}
